language: php

php:
  - 7.2

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - php vendor/bin/phpunit --bootstrap vendor/autoload.php tests